
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #fec107;
    padding: 0 10px;
}
    
    .wrapper{
       max-width: 500px;
       width: 100%;
       background:#fff;
       margin: 20px auto;
       padding: 30px;
       box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    }
    .wrapper .title{
        font-size: 24px;
        font-weight: 700;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        margin-bottom:25px;
        color: #fec107;
        text-transform: uppercase;
        text-align: center;
    } 
    
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }
      
      label {
        padding: 12px 12px 12px 0;
        display: inline-block;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      }
      
      input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      input[type=email], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }
      input[type=password], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }

      .ebele{
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      }